<h1>Your Pokedex!</h1>
 <div class="page-div">
  <% @pokemon.each do |pokemon| %>
    <div>
      <a href="/<%= pokemon.id %>">
        <h3><%= pokemon.index %>  <%= pokemon.name %></h3>
      </a>
      <p><%= pokemon.day %></p>
    </div>
  <% end %>  
</div>