<h1>Add a Pokemon you have caught!</h1>

<form method="POST" action="/">
  <label for="index">National Pokedex Number</label>
  <input type="text" name="index">

  <label for="name">Pokemon name</label>
  <input type="text" name="name">

  <label for="location">Location caught</label>
  <input type="text" name="location">

  <label for="day">Date caught</label>
  <input type="text" name="day">

  <label for="shiny">Shiny</label>
  <input type="text" name="shiny">

  <input type="submit" value="Submit">
</form>