<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <link rel="stylesheet" type="text/css" href="/css/global1.css">
  </head>
  <body>
    <section>
      <%= erb(:'partials/navigation', :layout => false) %>
      <%= yield %>
    </section>
  </body>
</html>